<div class="bg-gray-100 flex justify-center items-center h-screen w-7/8 text-center text-gray-500">
    <div class="h-1/2">
        <p class="block text-4xl my-2">Oopss!</p>
        <p class="block text-8xl font-bold animate-pulse my-2">404</p>
        <p class="block text-4xl my-2">Not Found</p>
        <p class="block my-2">Sorry Your Request URL has not found . . .</p>
        <a routerLink="/dashboard" class="text-white block py-2 px-4 mx-2 font-bold rounded-md bg-black my-4 hover:bg-gray-400">
           <fa-icon [icon]="faHome" class="mx-2"></fa-icon> Back To Homepage</a>
    </div>
</div>